In [1]:
import numpy as np
import pandas as pd

In [5]:
# Create DF fromn dictionary of lists.  All lists must be the same length
dict_data = {'ticker': ['AA', 'BB', 'CC', 'DD'],
             'date': ['2015-10-12', '2016-11-12', '2017-12-12', '2018-01-12'],
             'open': [426.5, 40.55, 123.77, 9.10]}
df_1 = pd.DataFrame(dict_data)

df_1

  ticker        date    open
0     AA  2015-10-12  426.50
1     BB  2016-11-12   40.55
2     CC  2017-12-12  123.77
3     DD  2018-01-12    9.10

In [11]:
# Create df from list of dicts:
list_data = [
    {'ticker': 'AAA', 'date': '2014-05-05', 'open': 111},
    {'ticker': 'BBB', 'date': '2015-05-05', 'open': 121},
    {'ticker': 'CCC', 'date': '2016-05-05', 'open': 131},
    {'ticker': 'DDD', 'date': '2017-05-05', 'open': 141}
]
df_2 = pd.DataFrame(list_data)

df_3 = pd.DataFrame(list_data, columns=['open', 'date', 'ticker'])

print(df_2)
print(df_3)

  ticker        date  open
0    AAA  2014-05-05   111
1    BBB  2015-05-05   121
2    CCC  2016-05-05   131
3    DDD  2017-05-05   141
   open        date ticker
0   111  2014-05-05    AAA
1   121  2015-05-05    BBB
2   131  2016-05-05    CCC
3   141  2017-05-05    DDD