In [1]:
import numpy as np
import pandas as pd

In [2]:
print(pd.__version__, np.__version__)

1.0.5 1.18.5

<B>Create a Series.  Very much like a Python Dictionary with a key nnd a value.
Has homogeneous data type.</B>

In [3]:
dict = {'col_1':101, 'col_2':102, 'col_3':103}
s = pd.Series(dict)

s

col_1    101
col_2    102
col_3    103
dtype: int64

In [4]:
print(s[2], s['col_3'])

103 103

In [5]:
print('Key ot Index vales:', s.index)
print('Vales:', s.array)   # Can use "values" to be consistent with older versions of pd

Key ot Index vales: Index(['col_1', 'col_2', 'col_3'], dtype='object')
Vales: <PandasArray>
[101, 102, 103]
Length: 3, dtype: int64

Change values in entries

In [6]:
s['col_1'] = 1100

s

col_1    1100
col_2     102
col_3     103
dtype: int64

In [7]:
ser = pd.Series([1,2,3,4,5,6])

ser

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [8]:
print('Key ot Index vales:', ser.index)
print('Vales:', ser.values)

Key ot Index vales: RangeIndex(start=0, stop=6, step=1)
Vales: [1 2 3 4 5 6]

In [9]:
# Note use of Numpy (np):
ser1 = ser.astype(np.float64)

print(ser, ser1)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64 0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

In [10]:
# Create series with an index:
ser2 = pd.Series([10,11,21,22], index=['aa', 'bb', 'cc', 'dd'])

print(ser2)

aa    10
bb    11
cc    21
dd    22
dtype: int64

In [11]:
for x in ser2.index:
    ser2[x] += 5
    print(x, ser2[x])

aa 15
bb 16
cc 26
dd 27

<B>Selection of entries by "index" (a key) or integer offest.  Offsets start at 0 (zero)</B>

In [12]:
elem_2 = ser2.loc['cc']
print(elem_2)

elem_2 = ser2.iloc[2]
print(elem_2)

# Also ... which is same as the "key" index above.
# This is a problem when the index is an integer!
print(ser2['cc'])

26
26
26

<B>Vectoried selection:</B>

In [13]:
el_1, el_2 = ser2[['aa', 'bb']]
print(el_1, el_2)

el_1, el_2 = ser2.iloc[[0,1]]
print(el_1, el_2)

print()

# But with integer location can do indexing..
print(ser2[1:4])

15 16
15 16

bb    16
cc    26
dd    27
dtype: int64

In [14]:
ser2

aa    15
bb    16
cc    26
dd    27
dtype: int64

In [15]:
idx = (ser2 > 15) & (ser2 < 27)
idx

aa    False
bb     True
cc     True
dd    False
dtype: bool

<B>Vectoried operations</B>

In [17]:
ser2[idx] = ser2[idx] * 3
ser2

aa    15
bb    48
cc    78
dd    27
dtype: int64

## Missing data

In [37]:
# Note: That an unknown value is defined using Numpy NAN.
#.      If we have a null and don't explicitly say dtype='Int64' we get floats not Ints!!
ser_1 = pd.Series([10,20,30,np.nan,50], index = list("abcde"), dtype="Int64")
ser_1

a      10
b      20
c      30
d    <NA>
e      50
dtype: Int64

In [38]:
ser_1.isnull()

a    False
b    False
c    False
d     True
e    False
dtype: bool

In [39]:
ser_1.notnull()

a     True
b     True
c     True
d    False
e     True
dtype: bool

In [40]:
ser_1[ser_1.isnull()] = 1122
ser_1

a      10
b      20
c      30
d    1122
e      50
dtype: Int64

<B>Check how pandas does index alignment, when two series not compatible in length and/or have nulls (i.e. NaN)</B>

In [46]:
ser_1 = pd.Series([10,20,30,np.nan,50], index = list("abcde"), dtype="Int64")
ser_1a = pd.Series([22,33,44,55,66,77], list("abcdef"))
ser_1a

a    22
b    33
c    44
d    55
e    66
f    77
dtype: int64

In [47]:
ser_1 + ser_1

a      20
b      40
c      60
d    <NA>
e     100
dtype: Int64

In [48]:
ser_1 + ser_1a

a      32
b      53
c      74
d    <NA>
e     116
f    <NA>
dtype: Int64